<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.eclipse.ease.lang.python.jython.JythonScriptEngine"
            id="org.eclipse.ease.python.jython"
            name="Python (Jython)"
            priority="10">
         <binding
               scriptType="Python">
         </binding>
      </engine>
            <launchExtension
            class="org.eclipse.ease.lang.python.jython.PythonEnvironementBootStrapper"
            engineID="org.eclipse.ease.python.jython">
      </launchExtension>
   </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.ease.preferences.global"
          class="org.eclipse.ease.lang.python.jython.preferences.PythonLibraryPreferencePage"
          id="org.eclipse.ease.lang.python.jython.libraryPrefPage"
          name="Jython external library">
    </page>
 </extension>
</plugin>
